# Porta del server
PORT=8080

# Segreto JWT per autenticazione
JWT_SECRET=tuo_super_segreto_jwt

# URI del database MongoDB
#Locale
#MONGODB_URI=mongodb://localhost:27017/tap_on_places
#Produzione
MONGODB_URI=mongodb+srv://admin:<ASD90R2C>@cluster0.1h39vvo.mongodb.net/tap_on_places?appName=Cluster0

